
.container{
    text-align: center;
    margin-top: 25px;
}
table{
    margin: auto;
}

input{

    font-size: 35px;
    border: 2px solid black;
    border-radius: 18px;
}
button {
    border: 2px solid #efff00;
    border-radius: 10px;
    color: white;
    font-size: 40px;
    background-color: black;
    width: 107px;
    height: 53px;
}

.calculator{
    background-color: #000000;
    border: 2px solid #efff00;
    border-radius: 34px;
    padding: 44px;
    display: inline-block;
    margin: 5px;
}